{
  "extends": "eslint:recommended",
  "rules": {
    "curly": [2, "multi-line"],
    "dot-notation": [2, {
      "allowPattern": "^[a-z]+(_[a-z]+)+$"
    }],
    "eqeqeq": 2,
    "no-caller": 2,
    "no-empty-label": 2,
    "no-empty-pattern": 2,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-implied-eval": 2,
    "no-iterator": 1,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 1,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-proto": 1,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-void": 2,
    "no-with": 2,
    "wrap-iife": [2, "inside"],
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "no-path-concat": 2
  }
}

// vim: set ft=json:
